<h1>Welcome Home</h1>

<div class="row">
    
    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>About</p>
          </div>
        </div>
    </div>
    
    <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Recent Tweets</h3>
          </div>
        </div>
        <% for p in @posts %>      
          <div class="panel panel-default">
            <div class="panel-body">
              <p><%= p.content%></p>
              <i>Posted at <%= p.created_at%></i>
            </div>
          </div>
        <% end %>
    </div>
    
    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Stats</p>
          </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-body">
            <p>Trending</p>
            </div>
        </div>
        
    </div>
    
</div>



