<h1>Profile</h1>

<div class="row">
    <div class="jumbotron">
          <h2><%= @username %></h2>
          <p><a class="btn btn-primary btn-lg" href="/index" role="button">Back to the Beginning</a></p>
    </div>
    
</div>


<div class="row">
    
    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>About</p>
          </div>
        </div>
    </div>
    
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your Tweets</h3>
        </div>
      </div>
        <% for p in @posts %>
          <% if (@users.find_by_id(p.user_id)).username==current_user.username %>
            <div class="panel panel-default">
              <div class="panel-body">
                <p><%= p.content%></p>
                <i>Posted at <%= p.created_at%></i>
              </div>
            </div>
          <% end %>
        <% end %>
        
    </div>
    
    <div class="col-md-3">
      
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Recommended Users</p>
          </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-body">
            <p>Trending</p>
            </div>
        </div>

    </div>
    
</div>


<div class="row">
    <div class="col-xs-3 col-xs-offset-8">
        
    </div>
</div>
